Veep/
output_frames/
venv/
venv/bin/activate
myenv/
myenv/bin/activate
test.mkv
Veep2/

*.pyc

.~lock*

.env

VeepFrames/
progress.txt
extracted_output/*
temp/

Silicon\ Valley/
Silicon\ Valley\ Raw/
